<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{@site.accent_color}}">
        {{#has visibility="paid"}}
            <h2>Sheffield deserves great journalism. You can help make it happen. </h2>
            <p>You'are halfway there,the rest of the story is behind this paywall. Join the Mill for full access to local news that matters, just $4 for the first 3 months. </p>
        {{/has}}
        {{#has visibility="members"}}
            <div class="kg-card kg-cta-card kg-cta-bg-pink kg-cta-immersive    " data-layout="immersive">  
            <div class="kg-cta-content">
            <div class="kg-cta-content-inner">
                  <div class="kg-cta-text">
                  <p><span style="white-space: pre-wrap;"><b><strong style="white-space: pre-wrap;"> This  story is free to read. </strong></b></span>You just need to sign up to join The Mill's mailling list. And why wouldnt you? You'll get our journalism in your inbox, the second we publish, keeping up to date on this and all our stories. No card details required. </p>
                  </div>
                                
              <a href="https://manchestermill.co.uk/" class="kg-cta-button kg-style-accent" style="color: #FFFFFF;">
                      Join as a member for a price you choose
                  </a>
                        
                    </div>
                
            </div>
        </div>     
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>3This {{#is "page"}}page{{else}}post{{/is}} is for subscribers on the {{tiers}} only </h2>
        {{/has}}


        <!-- If the user is already a member, show the upgrade button -->
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" href="#/portal/account/plans" style="color:{{@site.accent_color}}">Upgrade your account</a>
        {{else}}
  <!-- If the user is not a member, show the join list button -->
         {{#has visibility="members"}}
               <a class="gh-btn" data-portal="signup" href="#/portal/signup" style="color:{{@site.accent_color}}">Join the List </a>
          {{/has}}
            {{#has visibility="paid"}}
          <a class="gh-btn" data-portal="signup" href="#/portal/signup" style="color:{{@site.accent_color}}">Subscribe </a>
          {{/has}}
          {{#has visibility="tiers"}}
             <a class="gh-btn" data-portal="signup" href="#/portal/signup" style="color:{{@site.accent_color}}">Subscribe </a>
          {{/has}}
         
            <p><small>Already have an account? <a data-portal="signin" href="#/portal/signin">Sign in</a></small></p>
        {{/if}}
    </div>
</aside>