<div class='c-section c-section--{{slug}}'>
  <div class='o-grid'>
    <div class='c-section-heading'>
      <h2 class='c-section-heading__title'><a href='{{ url }}'>{{ name }}</a></h2>

      <a href='/tag/{{slug}}' class='c-section-heading__all' style="text-transform: uppercase;">
        {{t 'See all'}}
      </a>
    </div>
  </div>

  <div class='o-grid o-grid--4-columns'>
    {{#get 'posts' filter='tags:{{slug}}' include='tags,authors' limit=4 as |posts|}}
      {{#if posts}}
        {{#foreach posts}}
          {{> card showExcerpt=true }}
        {{/foreach}}
      {{/if}}
    {{/get}}
  </div>
</div>
