<article class='c-teaser c-teaser--{{teaserSize}} {{ post_class }}'>
  <div class='c-teaser__content'>



    <h3 class='c-teaser__headline'>
      <a href='{{ url }}' class='c-teaser__link'>{{ title }}</a>
    </h3>

    {{#if showExcerpt}}
      <p class='c-teaser__standfirst'>{{ excerpt }}</p>
    {{/if}}

    <div class='c-teaser__meta'>
      {{> byline component='teaser'}}

    {{#if showTimestamp}}
      {{> timestamp component='teaser'}}
    {{/if}}

      {{> visibility-label}}
    </div>
  </div>

  {{#if feature_image}}
    <a href='{{ url }}' class='c-teaser__media'>
      <img
        loading='lazy'
        decoding='async'
        class='c-teaser__image'
        alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
        src='{{ img_url feature_image size='feature-image-large' format='webp' }}'
      >
    </a>
  {{/if}}
</article>