{{!--
  Used in the post.hbs & page.hbs file
--}}

<div class='c-topper'>
  <div class='c-topper__content'>
    <div class='c-topper__meta'>
      {{#is 'post'}}
        <div class='c-topper__meta-line'>
          <a href="/author/{{primary_author.slug}}" style="text-decoration: none; transition: text-decoration 0.3s;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">
          {{> byline component='topper' }}
          </a>
          <span class='c-topper__bullet'>&bull;</span>
          {{> timestamp component='topper' showDetaildDate=true }}
          |&nbsp;
          <A href="#comment-section"><img style="display: inline; vertical-align: middle;" src="{{ asset 'fonts/comment-icon-100.png' }}" width="13px" height="15px"></A>
          <span class="c-timestamp c-card__timestamp" data-cove-count-comments="{{id}}" data-translate-comment="" data-translate-comments=""></span>
        </div>
      {{/is}}
    </div>

    <h1 class='c-topper__headline'>{{ title }}</h1>

    <img src='{{ asset "fonts/tribune-sun-r1.png" }}' alt="Tribune Sun" class='c-topper__sun'>

    {{#if feature_image}}
      <figure class='c-feature-image-figure'>
        <div class='c-feature-image-wrap'>
          <img
            loading='lazy'
            decoding='async'
            class='c-feature-image'
            alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{/if}}"
            src='{{ img_url feature_image size='feature-image-large' format='webp' }}'
          >
        </div>
        {{#if feature_image_caption}}
          <figcaption class='c-feature-image-caption'>{{ feature_image_caption }}</figcaption>
        {{/if}}
      </figure>
    {{/if}}

    {{#if custom_excerpt}}
      <p class='c-topper__standfirst'>{{ custom_excerpt }}</p>
    {{/if}}
  </div>
</div>
