<div class='u-p-32    {{#has visibility='members'}}kg-cta-bg-pink {{else}} u-color-background-secondary {{/has}} u-align-center u-rounded-corners'>
  {{#has visibility='members'}}
         <p><span style="white-space: pre-wrap;"><b><strong style="white-space: pre-wrap;"> This  story is free to read. </strong></b></span>You just need to sign up to join The Tribune's mailling list. And why wouldn't you? You'll get our journalism in your inbox the second we publish, keeping up to date on this and all our stories. No card details required. </p> 
  {{/has}}

  {{#has visibility='paid'}}
    <h2 class='c-post-upgrade-cta__title' style="color: white;">{{t 'Sheffield deserves great journalism. You can help make it happen. '}}</h2>
      <p>You'are halfway there,the rest of the story is behind this paywall. Join the Tribune for full access to local news that matters, just  £8.95 for the first 3 months. </p>
  {{/has}}

  {{#has visibility='tiers'}}
    <h2 class='c-post-upgrade-cta__title' style="color: white;">{{t 'This post is for subscribers on the '}}{{tiers}}</h2>
      <p>You'are halfway there,the rest of the story is behind this paywall. Join the Tribune for full access to local news that matters, just   £8.95  for the first 3 months. </p>
  {{/has}}

  



     <!-- If the user is already a member, show the upgrade button -->
        {{#if @member}}
            <a class='c-btn u-block u-align-auto u-mt-16' data-portal="account/plans" href="#/portal/account/plans" style="color:{{@site.accent_color}}">Upgrade your account</a>
        {{else}}
  <!-- If the user is not a member, show the join list button -->
         {{#has visibility="members"}}
            <a class='c-btn u-block u-align-auto u-mt-16' data-portal="signup" href="/#/portal/signup/free" style="color:#ffffff;">Join the List </a>
          {{/has}}
            {{#has visibility="paid"}}
          <a class='c-btn u-block u-align-auto u-mt-16' data-portal="signup" href="#/portal/signup" style="color:#ffffff;">Subscribe </a>
          {{/has}}
          {{#has visibility="tiers"}}
             <a class='c-btn u-block u-align-auto u-mt-16' data-portal="signup" href="#/portal/signup" style="color:#ffffff;">Subscribe </a>
          {{/has}}
         
            <p class='u-mt-16 u-font-size-scale-1' {{#has visibility='members'}}  {{else}} style="color: white;"{{/has}}  >{{t 'Already have an account?'}} <a href='#/portal/signin' class='u-link' {{#has visibility='members'}}  {{else}} style="color: white;"{{/has}}>{{t 'Sign In'}}</a></p>
        {{/if}}
</div>
