{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#author}}
  <header class='c-page-header'>
    <div class='o-grid o-grid--2-columns'>
      <div>
        {{#if profile_image}}
          <figure class='c-author__media u-mb-16'>
            <img
              alt=''
              loading='lazy'
              decoding='async'
              class='c-author__image'
              width='96' height='96'
              src='{{ img_url profile_image size='profile-image' format='webp' }}'
            >
          </figure>
        {{/if}}

        <h1 class='u-font-headline'>{{ name }}</h1>

        {{#if bio}}
          <p class='c-page-header__excerpt u-font-standfirst u-mt-8'>{{ bio }}</p>
        {{/if}}

        <div class='u-color-text-secondary u-font-size-small u-mt-16'>
          {{#if twitter}}
            <a href='{{ twitter_url }}' class='u-link u-mr-8'>Twitter</a>
          {{/if}}

          {{#if facebook}}
            <a href='{{ facebook_url }}' class='u-link u-mr-8'>Facebook</a>
          {{/if}}

          {{#if website}}
            <a href='{{ website }}' class='u-link u-mr-8'>Website</a>
          {{/if}}

          {{#if location}}{{ location }}{{/if}}
        </div>
      </div>
    </div>
  </header>
{{/author}}

{{> loop }}

{{ pagination }}