{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#post}}
  {{> topper }}

  <div class='c-post {{ post_class }}'>
    {{#get 'posts' limit='all' as |posts|}}
      {{#if posts}}
        {{#foreach posts}}
          <div class='c-card-archive c-card-archive--date-{{date format='M'}}'>
            <div class='c-card-archive__meta'>
              <div class='c-card-archive__date u-type-uppercase'>{{ date format='MMMM YYYY' }}</div>
            </div>

            <div class='c-card-archive__content'>
              <h2 class='c-card-archive__title'>
                <time class='c-card-archive__date-mini' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='D' }}:</time>
                <a href='{{ url }}' class='c-card-archive__url'>{{ title }}</a>
              </h2>
            </div>
          </div>
        {{/foreach}}
      {{/if}}
    {{/get}}
  </div>
{{/post}}

