<header class='c-header'>
  <div class='c-header__banner'></div>
  
  <div class='c-header__top'>
    <div class='o-grid c-header__top-inner'>
      <div class='c-header__top-block c-header__top-left'>
        {{> logo }}
      </div>

      <div class='c-header__top-block c-header__top-center'>
      </div>

      <div class='c-header__top-block c-header__top-right'>
      </div>
    </div>
  </div>

  <div class='c-header__bottom'>
    <div class='o-grid'>
      <div class='c-header__nav-wrap'>
        <nav class='c-nav-wrap'>
          <ul class='c-nav c-nav--main u-plain-list'>
            {{ navigation }}
          </ul>
        </nav>
        <div class='c-header__utils'>
          {{#if @custom.enable_dark_mode}}
            <button class='js-mode-toggle c-header__button c-header__button--colorMode c-color-mode-btn' data-colormode='dark' aria-label="{{t 'Dark' }}">
            <span class='js-mode-toggle-text u-visible-on-desktop'>{{t 'Dark' }}</span>
            </button>
          {{/if}}
          {{#if @custom.enable_search}}
            <button data-ghost-search class='c-header__button c-header__button--search' aria-label="{{t 'Search' }}">{{> icons/search }}</button>
          {{/if}}
          {{#if @site.members_enabled}}
            {{#if @member}}
              <a href='#/portal/account' class='c-header__button'>{{t 'Account' }}</a>
            {{else}}
              <a href='#/portal/signin' class='c-header__button u-visible-on-desktop'>{{t 'Sign In' }}</a>
              {{#unless @site.members_invite_only}}
                <a href='#/portal/signup' class='c-btn c-btn--small u-visible-on-desktop plausible-event-name=Menu+Signup'>{{t 'Subscribe' }}</a>
              {{/unless}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</header>
